<li style="list-style-type: none;">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
                    <%= content_tag(:div, message.body, style: "white-space: pre-wrap;") %>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p class="<%= user.id == message.user_id ? 'message-sent-date' : 'message-received-date' %>">
                <%= message.created_at.in_time_zone("Asia/Seoul").strftime('%Y-%m-%d %H:%M') %>
            </p>
        </div>
    </div>
</li>