<h1>Jinmusa 이용 약관</h1>
<p>Jinmusa 서비스 약관</p>
<p>제1조(목적)</p>
<p>이 약관은 (주)Jinmusa(이하 "회사"라고 함)가 제공하는 게임 및 제반 서비스의 이용과 관련하여 회원과 회사 간의 조건 및 절차에 관한 기본적인 사항을 정함을 목적으로 합니다.</p>

<p>제2조(용어의 정의)</p>
<p>① 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
<p>1. 이용 계약: 회사가 제공하는 서비스 이용과 관련하여 회사와 이용 고객 간에 체결하는 계약을 말합니다.</p>
<p>2. 회원: 회사가 제공하는 절차에 따른 가입 신청 및 이용 계약 체결을 완료한 뒤, ID를 발급받아 회사의 서비스를 이용할 수 있는 자를 말합니다.</p>
<p>3. ID: 회원 식별과 서비스 이용을 위하여 회원이 선정하고 회사가 승인하는 문자, 특수문자, 숫자 등의 조합을 말합니다.</p>
<p>4. 체험 ID: 회원 식별과 회사가 제공하는 특정 서비스를 이용하기 위하여 회원이 선정하고 회사가 승인하는 문자, 특수문자, 숫자 등을 말합니다.</p>
<p>5. PASSWORD(이하 "비밀번호"라고 함): 회원이 자신의 ID 또는 체험 ID와 일치하는 이용 고객임을 확인하기 위해 선정한 문자, 특수문자, 숫자 등의 조합을 말합니다.</p>
<p>6. 회원 탈퇴: 회원이 이용 계약을 해지함을 의미합니다.</p>
<p>7. 계정 : ID에 수반하여 게임 이용을 위해 회원이 별도로 생성하는 캐릭터, 게임 ID 등을 의미합니다.</p>
<p>② 이 약관에서 사용하는 용어의 정의는 제1항에서 정하는 것을 제외하고는 관계 법령 및 각 서비스 별 안내에서 정하는 바에 의합니다. 관계 법령과 각 서비스 별 안내에서 정하지 않는 것은 일반적인 상관례에 의합니다.</p>
<p>제3조(약관의 효력 및 적용과 변경)</p>
<p>① 회사는 이 약관의 내용을 회원이 알 수 있도록 회사에서 운영하는 홈페이지(www.jinmusa.com, 이하 "홈페이지"라 함)에 게시하거나 연결화면을 제공하는 방법으로 회원에게 공지합니다.</p>
<p>② 이 약관에 동의하고 회원 가입을 한 회원은 약관에 동의한 시점부터 동의한 약관의 적용을 받고 약관의 변경이 있을 경우에는 변경의 효력이 발생한 시점부터 변경된 약관의 적용을 받습니다.</p>
<p>이 약관에 동의하는 것은 정기적으로 홈페이지를 방문하여 약관의 변경 사항을 확인하는 것에 동의하는 것을 의미합니다.</p>
<p>③ 회사는 필요하다고 인정되는 경우 이 약관을 변경할 수 있습니다.</p> 
<p>회사는 약관이 변경되는 경우에 변경된 약관의 내용과 시행일을 정하여, 그 시행일로부터 7일전 홈페이지에 온라인으로 공시합니다.</p>
<p>다만, 이용자에게 불리하게 약관 내용을 변경하는 경우에는 시행일로부터 30일전 홈페이지에 온라인으로 공시하거나 회원이 회원 가입 시 등록한 e-mail로 전송하는 방법으로 회원에게 고지합니다.</p>
<p>변경된 약관은 공시하거나 고지한 시행일로부터 효력이 발생합니다.</p>
<p>④ 회원은 변경된 약관에 대해 거부할 권리가 있습니다. 본 약관의 변경에 대해 이의가 있는 회원은 서비스 이용을 중단하고 회원 탈퇴를 할 수 있습니다.</p> 
<p>회원이 변경된 이용약관의 시행일 이후에도 서비스를 계속 이용하는 경우에는 변경된 약관에 동의한 것으로 봅니다.</p>
<p>제4조(개인정보의 보호 및 사용)</p>
<p>① 회사는 관계법령이 정하는 바에 따라 이용자 등록정보를 포함한 이용자의 개인 정보를 보호하기 위해 노력합니다.</p>
<p>이용자의 개인 정보 보호 및 사용에 대해서는 관련 법령 및 회사의 개인정보처리방침이 적용됩니다.</p>
<p>단, 회사의 공식 사이트 이외의 링크된 사이트에서는 회사의 개인정보처리방침이 적용되지 않습니다.</p>
<p>② 회사는 이용자의 귀책 사유로 인해 노출된 이용자의 계정 정보를 비롯한 모든 정보에 대해서 일체의 책임을 지지 않습니다.</p>
<p>제5조(운영 정책)</p>
<p>① 회사는 약관을 적용하기 위해 필요한 사항과 회원의 권익을 보호하고 게임 세계 내 질서를 유지하기 위하여 약관에서 구체적 범위를 정하여 위임한 사항을 게임 서비스 운영 정책(이하 "운영 정책"이라고 함)으로 정할 수 있습니다.</p>
<p>② 회사는 운영 정책의 내용을 회원이 알 수 있도록 게임별 서비스 홈페이지(이하 "게임 홈페이지"라고 함)에 게시하거나 연결 화면을 제공하는 방법으로 회원에게 공지합니다.</p>
<p>③ 회원의 권리 또는 의무에 중대한 변경을 가져오거나 약관 내용을 변경하는 것과 동일한 효력이 발생하는 운영정책 개정의 경우에는 제3조 제3항의 절차에 따릅니다.</p>
<p>단, 운영정책 개정이 다음 각 호의 어느 하나에 해당하는 경우에는 본 조 제2항의 방법으로 사전에 공지합니다.</p>
<p>1. 약관에서 구체적으로 범위를 정하여 위임한 사항을 개정하는 경우</p>
<p>2. 회원의 권리·의무와 관련 없는 사항을 개정하는 경우</p>
<p>3. 운영정책의 내용이 약관에서 정한 내용과 근본적으로 다르지 않고 회원이 예측 가능한 범위 내에서 운영정책을 개정하는 경우</p>
<p>제6조(약관의 규정 외 사항에 관한 준칙)</p>
<p>이 약관에 규정 되지 않은 사항과 이 약관의 해석에 대해서는 회사가 정한 개별 서비스 이용약관, 운영정책 및 관계법령이 적용됩니다.</p>