
<title>123</title>
<ul class="thumbnails">

  <li class="span4">
    <div class="thumbnail col-sm-1 col-md-9">
      <img src="https://placehold.it/300x200" align="left" alt="사진없음">
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
  
</ul>